<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/header.css"/>
    <link rel="stylesheet" href="~/css/footer.css"/>
    <link rel="stylesheet" href="~/css/sideBar.css"/>
</head>
<body>    
        @await Html.PartialAsync("~/Views/Shared/ViewsPartial/_SideBarPartial.cshtml")
        @RenderBody()
        @await Html.PartialAsync("~/Views/Shared/ViewsPartial/_FooterPartial.cshtml")
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
   @* <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
