@model Product
   <div class="container-fluid pt-4 px-4">
                <div class="row g-4">                
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Product Details</h6>
                            <div class="form-floating mb-3">
                                 <input type="text" class="form-control" id="floatingPassword"
                                   asp-for="Name" disabled placeholder="Name">
                                <label for="floatingPassword">Name</label>
                            </div>
                                <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingPassword"
                                   asp-for="Price" disabled placeholder="Price">
                                <label for="floatingPassword">Price</label>
                            </div> 
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Description"
                                    asp-for="Description" disabled id="floatingTextarea" style="height: 150px;"></textarea>
                                <label for="floatingTextarea">Description</label>
                            </div>                          
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Brand</h6>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingPassword"
                                   asp-for="Brand.Name" disabled placeholder="Brand">  
                                   <label for="floatingPassword">Brand</label>
                            </div>
                            <div class="form-floating">
                               <textarea class="form-control" placeholder="Description"
                                    asp-for="Brand.Description" disabled id="floatingTextarea" style="height: 150px;"></textarea>                                   
                                <label for="floatingPassword">Description</label>
                            </div>        
                             <h6 class="mb-4">Categories</h6>
                                <div class="form-floating mb-3">
                                    @foreach (var item in @Model.CategoryProducts)
                                    {
                                        <input type="text" class="form-control" id="floatingPassword"
                                            asp-for="@item.Category.Name" disabled placeholder="Category">
                                        <label for="floatingTextarea">Category</label>
                                    }                              
                            </div>                        
                        </div>
                    </div>   
                    <div class="col-sm-12 col-xl-3" mt-2>
                        <div class="bg-secondary rounded h-100 mt-2 p-4">
                             <h6 class="mb-4">Title Image</h6>
                            <img src="~/images/@Model.ImgUrl" alt="" class="img-thumbnail">
                        </div>
                    </div>
                    <div class="d-inline col-sm-12 col-xl-3" mt-2>
                        <div class="bg-secondary rounded h-100 p-4">
                             <h6 class="mb-4">Images</h6>
                             @foreach (var item in @Model.ProductImages)
                             {                       
                                 <img src="~/images/@item.ImageUrl " alt="" class=" mt-2 img-thumbnail ">
                             }
                        </div>
                    </div>                 
            </div>
        </div>
               