<section class="navigation">
    <ul>
        <li class="list active">
            <b></b>
            <b></b>
            <a asp-area="Admin" asp-controller="Admin" asp-action="Index">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <span class="title">Admin</span>
            </a>
        </li>
         <li class="list">
            <b></b>
            <b></b>
            <a asp-area="Admin" asp-controller="Admin" asp-action="Create">
                <span class="icon"><ion-icon name="create-outline"></ion-icon></span>
                <span class="title">Create</span>
            </a>
        </li>
         <li class="list">
            <b></b>
            <b></b>
            <a asp-area="Admin" asp-controller="Admin" asp-action="Edit">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <span class="title">Edit</span>
            </a>
        </li>
         <li class="list">
            <b></b>
            <b></b>
            <a href="#">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <span class="title">Home</span>
            </a>
        </li>
         <li class="list">
            <b></b>
            <b></b>
            <a asp-controller="Home" asp-action="Index">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <span class="title">Home</span>
            </a>
        </li>
    </ul>
</section>
<section class="toggle">
    <ion-icon name="menu-outline" class="open"></ion-icon>
    <ion-icon name="close-outline" class="close"></ion-icon>
</section>