:root {
    --primary: #18253c;    
    /* --primary: #fff; */
    --secondary: #00dd53;
    --bg: #0e1523;
    /* --bg: #f5f5f5; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    background-color: var(--bg);
    width: 100%;
    /*min-height: 100vh;*/
    padding: 6.5rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    grid-gap: 2rem;
    font: normal 1rem;
}

#wrapper.toggled .slider {
    grid-template-columns: repeat(3, 2fr);
    padding: 1rem 2rem;
}
@media screen and (max-width: 1200px) {
    .slider:nth-child(n) {
        grid-column-start: span 6;
    }
}
/*
@media screen and (min-width: 1200px) {
    .slider {
        grid-template-columns: repeat(6, 1fr);
    }
}*/

@media screen and (max-width: 800px) {
    .slider:nth-child(n) {
        grid-column-start: span 12;
    }
}
.card {
    position: relative;
    width: 17rem;
    height: 23rem;
    background-color: var(--primary);
    color: #fff;
    border-radius: 1rem;
    border: .1rem solid transparent;
    overflow: hidden;
    box-shadow: 0 .2rem .6rem #0003;
    transition: .5s ease-in-out;
}

    .card:hover {
        border: .1rem solid var(--secondary);
        transform: scale(1.05);
    }

    .card::before, .card::after {
        position: absolute;
        content: "";
        background-color: var(--secondary);
        border-radius: 50%;
        transition: .5s ease-in-out;
        z-index: 100;
    }

    .card::before {
        top: -6%;
        right: -6%;
        width: 9rem;
        height: 9rem;
    }

    .card::after {
        bottom: -6%;
        left: -6%;
        width: 5rem;
        height: 5rem;
    }

    .card:hover::before {
        transform: scale(1.8);
    }

    .card:hover::after {
        transform: scale(0);
    }

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 200;
}

.card-img,
.card-title {
    transform: translateY(4rem);
    transition: .5s ease-in-out;
}

.card-img {
    width: auto;
    height: 9.5rem;
}

.card-title {
    font-size: 1rem;
    text-transform: capitalize;
    transition-delay: .1s;
}

.card-body,
.card-footer {
    transform: translateY(8rem);
    transition: .5s ease-in-out;
}

.card-body {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition-delay: .2s;
}

.card:hover .card-img,
.card:hover .card-title,
.card:hover .card-body,
.card:hover .card-footer {
    transform: translateY(0);
}

.card-footer {
    transition-delay: .3s;
}

.star {
    font-size: 1.4rem;
    color: gold;
}

.card-price {
    font: bolder 1.5rem sans-serif;
}

.btn {
    padding: 1rem 2rem;
    background-color: unset;
    border: none;
    outline: none;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
}

.btn-success {
    background-color: var(--secondary);
}

.btn-border {
    border: .1rem solid var(--secondary);
}

/********** Template CSS **********/
:root {
    --primary: #EB1616;
    --secondary: #191C24;
    --light: #6C7293;
    --dark: #000000;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

    #spinner.show {
        transition: opacity .5s ease-out, visibility 0s linear 0s;
        visibility: visible;
        opacity: 1;
    }


/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--secondary);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: var(--dark);
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

        .sidebar.open {
            margin-left: -250px;
        }

    .content {
        width: calc(100% - 250px);
    }

        .content.open {
            width: 100%;
            margin-left: 0;
        }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

        .sidebar.open {
            margin-left: 0;
        }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--light);
    font-weight: 500;
    border-left: 3px solid var(--secondary);
    border-radius: 0 30px 30px 0;
    outline: none;
}

    .sidebar .navbar .navbar-nav .nav-link:hover,
    .sidebar .navbar .navbar-nav .nav-link.active {
        color: var(--primary);
        background: var(--dark);
        border-color: var(--primary);
    }

    .sidebar .navbar .navbar-nav .nav-link i {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: var(--dark);
        border-radius: 40px;
    }

    .sidebar .navbar .navbar-nav .nav-link:hover i,
    .sidebar .navbar .navbar-nav .nav-link.active i {
        background: var(--secondary);
    }

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--light);
}

    .sidebar .navbar .dropdown-item:hover,
    .sidebar .navbar .dropdown-item.active {
        background: var(--dark);
    }

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--light);
    outline: none;
}

    .content .navbar .navbar-nav .nav-link:hover,
    .content .navbar .navbar-nav .nav-link.active {
        color: var(--primary);
    }

    .content .navbar .sidebar-toggler,
    .content .navbar .navbar-nav .nav-link i {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: var(--dark);
        border-radius: 40px;
    }

.content .navbar .dropdown-item {
    color: var(--light);
}

    .content .navbar .dropdown-item:hover,
    .content .navbar .dropdown-item.active {
        background: var(--dark);
    }

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

    .testimonial-carousel .owl-dot.active {
        background: var(--dark);
        border-color: var(--primary);
    }
.mt-2 {
    margin-top: 2px !important;
}